.container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    z-index: 2;
    padding: 50px;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.categoria {
    background-color: #6BD1FF;
    border-radius: 15px;
    padding: 14px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
}

.categoria h2 {
    font-size: 48px;
    font-family: var(--fonte);
    font-weight: 800;
    color: #f5f5f5;
}

.titulo {
    font-size: 46px;
    font-family: var(--fonte);
    font-weight: 400;
    color: #f5f5f5;
}

.texto {
    font-family: var(--fonte);
    font-size: 18px;
    font-weight: 300;
    color: #f5f5f5;
}

.imagem {
    width: 50%;
    border-radius: 4px;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

@media (max-width: 1024px) {
    .categoria {
        width: 60%;
    }

    .categoria h2{
        font-size: 40px;
    }

    .titulo {
        font-size: 35px;
    }

}

@media (max-width: 768px) {
    .container {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 30px;
    }

    .sobre {
        width: 100%;
    }

    .categoria {
        margin-top: 50px ;
        width: 50%;
    }

    .categoria h2{    
        font-size: 20px;
    }
}